.back {
    border: 3px solid black;
    background-color: lightgrey;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}
.red{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width:33.3333%;
    height:33.3333%;
}
.green {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width:33.3333%;
    height:33.3333%;
}
.blue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:blue;
    width:33.3333%;
    height:33.3333%;
}